{% extends 'demo/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
<nav class ="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{% block title %}(no title){% endblock %}</a>
    </div>
         <ul class="nav navbar-nav">
      <li class= {% block home %}(''){% endblock %}><a href="{% url 'home' %}">10KQ Reports (Healthcare)</a></li>
      <li class = {% block name %}(''){% endblock %}><a href="{% url 'form_with_files' %}">10KQ Reports (Tech)</a></li>
    </ul>

    </div>
        
</nav>

    <div class="container">
        <h1></h1>
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
