{% extends 'demo/base.html' %}
{% load bootstrap3 %}

{% block title %}
Panagora NLP System
{% endblock %}

{% block home %}
active
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
    This is a keyword search tool <em>system</em> for <strong>10KQ annual reports</strong>.
    <form role="form" action="/search_ticker/" method="get">
            year (2006-2016): <input type="text" name="year" value = {{year}}>  <br>
            qtr (optinal, e.g. 'QTR1'): <input type="text" name="qtr" value = {{qtr}}>  <br>
            key_word(optional, e.g. dry powder inhaler): <input type="text" name="word" value = "{{word}}">  <br>
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </form>
	</div>
	  </div>
<!-- content for words -->

{% if tickers %}
<div class="panel panel-default">
    <div class="panel-body">
{% load static %}
<b>Word:
</b>
{{word}}
<br>
<b>YearQtr:
</b>
{{year}}{{qtr}}
<br>
<b>
Associated tickers in {{year}} {{qtr}}</b>:
{{tickers}}
<br>
<b>ReturnPlot:</b>
<br>
<img src="{% static "return.png"%}?cachebuster=blah24" height="400", width="1000"/>

<br>
<b>Google search of interest:</b>
<img src="{% static "foo.png"%}?cachebuster=blah23" height="400", width="1000"/>
	</div>
	  </div>
{% endif %}

<!-- table for keywords -->
{% if output %}
{% autoescape off %}
<div class="panel panel-default">
    <div class="panel-body">
	<article>
	    <header>Hottest keyword for {{year}}{{qtr}} based on past performance:</header>
	</article>
        {{output}}
    </div>
</div>
{% endautoescape %}
{% endif %}

{% if news %}
<div class = "row">
<div class = "col-lg-8" >
<div class="panel panel-default">
    <div class="panel-body">
<b> Google news for <em>{{word}}</em> in {{from_date}} to {{to_date}}: </b>
<br>
<div class="panel-group" id="accordion">
{% for a,b,c in news %}
<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{a}}</a>
        </h4>
      </div>
      <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
        <div class="panel-body">{{b}}: {{c}}</div>
      </div>
</div>
{% endfor %}
</div>

</div>
</div>
</div>

<div class = "col-lg-4" >
<div class="panel panel-default">
    <div class="panel-body">

</div>
</div>

</div>
</div>
{% endif %}


{% endblock %}
